<!--mainpage (conteneur mis padding)-->
<div class="mainPage-container">
    <!-- choix -->
    <div class="det">
        <h2>Populaires Destinations</h2>
        <br>
        <p>Nous facilitons votre séjour via les hotels les plus populaires </p>
    </div>
    <br>
    <br>
    <div class="HT">
        <div>
            <div>
                <img src="../../assets/hotels/d3.jpg" alt="" class="mgH">
                <br>
                <br>
                <div class="hc">
                    <p class="test"> Hotel Carlton</p>
                    <div>
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starn.png" alt="" class="star">
                    </div>
                </div>
            </div>
            <div>
                <span>Visiter |  49 fois</span>
            </div>
            <br>
            <br>
            <div class="hc det">
                <span>Piscine</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Gymnase</span>
                <span>Non</span>
            </div>
            <div class="hc det">
                <span>Wi-fi</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
               <span>Chambre</span>
               <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Air conditionné</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Restaurant</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Prix par nuit</span>
                <a href="#" class="price-btn">$250</a>
            </div>
        </div>
        <div>
            <div>
                
                <img src="../../assets/hotels/d1.jpg" alt="" class="mgH">
                <br>
                <br>
                <div class="hc">
                    <p class="test">Hotel Carlton</p>
                    <div>
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starn.png" alt="" class="star">
                        <img src="../../assets/icons/starn.png" alt="" class="star">

                    </div>
                </div>

            </div>
            <div>
                <span>Visiter |  49 fois</span>
            </div>
            <br>
            <br>
            <div class="hc det">
                <span>Piscine</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Gymnase</span>
                <span>Non</span>
            </div>
            <div class="hc det">
                <span>Wi-fi</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
               <span>Chambre</span>
               <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Air conditionné</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Restaurant</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>prix par nuit</span>
                <a href="#" class="price-btn">$250</a>
            </div>
        </div>
        <div>
            <div>
                
                <img src="../../assets/hotels/d2.jpg" alt="" class="mgH">
                <br>
                <br>
                <div class="hc">
                    <p class="test">Hotel Carlton</p>
                    <div>
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starn.png" alt="" class="star">
                        <img src="../../assets/icons/starn.png" alt="" class="star">
                        <img src="../../assets/icons/starn.png" alt="" class="star">
                    </div>
                </div>

            </div>
            <div>
                <span>Visiter |  49 fois</span>
            </div>
            <br>
            <br>
            <div class="hc det">
                <span>Piscine</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Gymnase</span>
                <span>Non</span>
            </div>
            <div class="hc det">
                <span>Wi-fi</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
               <span>Chambre</span>
               <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Air conditionné</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Restaurant</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>prix par nuit</span>
                <a href="#" class="price-btn">$250</a>
            </div>
        </div>
        <div>
            <div>
                
                <img src="../../assets/hotels/d4.jpg" alt="" class="mgH">
                <br>
                <br>
                <div class="hc">
                    <p class="test">Hotel Carlton</p>
                    <div>
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starn.png" alt="" class="star">
                        <img src="../../assets/icons/starn.png" alt="" class="star">
                    </div>
                </div>

            </div>
            <div>
                <span>Visiter |  49 fois</span>
            </div>
            <br>
            <br>
            <div class="hc det">
                <span>Piscine</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Gymnase</span>
                <span>Non</span>
            </div>
            <div class="hc det">
                <span>Wi-fi</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
               <span>Chambre</span>
               <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Air conditionné</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Restaurant</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>prix par nuit</span>
                <a class="price-btn">500$</a>
            </div>
        </div>
        <div>
            <div>
                
                <img src="../../assets/hotels/d6.jpg" alt="" class="mgH">
                <br>
                <br>
                <div class="hc">
                    <p class="test">Hotel Carlton</p>
                    <div>
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starj.png" alt="" class="star">
                        <img src="../../assets/icons/starn.png" alt="" class="star">
                        <img src="../../assets/icons/starn.png" alt="" class="star">
                    </div>
                </div>

            </div>
            <div>
                <span>Visiter |  49 fois</span>
            </div>
            <br>
            <br>
            <div class="hc det">
                <span>Piscine</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Gymnase</span>
                <span>Non</span>
            </div>
            <div class="hc det">
                <span>Wi-fi</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
               <span>Chambre</span>
               <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Air conditionné</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>Restaurant</span>
                <span>Oui</span>
            </div>
            <div class="hc det">
                <span>prix par nuit</span>
                <a href="#" class="price-btn">$250</a>
            </div>
        </div>
    </div>




    <!--Prix an@farany-->
    <div id="PriceClass-container">
        <div id="PriceClass-title">
        <h3>Classes des prix d'hotels</h3>
        <p>Nous offrons aux clients de nombreux choix possibles pour leur séjours
            ,selon leur budget et avec des prix tout aussi abordable. </p>
        </div>
        <div id="PriceClass">
        <div>
            <table cellspacing="8">
                <th>Classique</th>
                <tr>
                    <td>hotel1</td>
                    <td>50.000Ar</td>
                </tr>
                <tr>
                    <td>hotel1</td>
                    <td>50.000Ar</td>
                </tr>
                <tr>
                    <td>hotel1</td>
                    <td>50.000Ar</td>
                </tr>
            </table>
        </div>
        <div>
            <table cellspacing="8">
                <th>Moyenne</th>
                <tr>
                    <td>hotel1</td>
                    <td>50.000Ar</td>
                </tr>
                <tr>
                    <td>hotel1</td>
                    <td>50.000Ar</td>
                </tr>
                <tr>
                    <td>hotel1</td>
                    <td>50.000Ar</td>
                </tr>
            </table>
        </div>
        <div>
            <table cellspacing="8">
                <th>Premium</th>
                <tr>
                    <td>hotel1</td>
                    <td>50.000Ar</td>
                </tr>
                <tr>
                    <td>hotel1</td>
                    <td>50.000Ar</td>
                </tr>
                <tr>
                    <td>hotel1</td>
                    <td>50.000Ar</td>
                </tr>
            </table>
        </div>
        </div>  
    </div>

</div>
