<!--mainpage (conteneur mis padding)-->
<div class="mainPage-container">
    <div class="title">
        <div class="logo">
            <img class="logogt" src="../../assets/photo agences/logo-gt.png" alt=""/>
        </div>
        <div class="bienvenue">
            <h1 class="titre">Bienvenue à l'agence GASIKARA TOURISMA</h1>
            <h3 class="titre">Le meilleur tourisme à Madagascar</h3>
            <h4 class="titre">NIF:--- / STAT:---</h4>
        </div>
        <div class="logo" id="logo2">
            <img class="logogt" src="../../assets/photo agences/logo-gt.png" alt=""/>
        </div>
    </div>
    <hr/>
    <div class="body-agence">
        <div class="container">
            <div class="content" id="destination">
                <div class="item">
                    <h2 class="text" id="type">LES DESTINATIONS</h2>
                    <h3> <u class="text">Ici vous pouvez voir les différents destinations</u> </h3>
                    <span class="text">
                        Vous pouvez choisir le départ et la destination dont les choix sont:
                    </span>
                    <ul>
                        <li class="text">
                            Nosy-Be Hell Ville
                        </li>
                        <li class="text">
                            Diego
                        </li>
                        <li class="text">
                            Majunga
                        </li>
                        <li class="text">
                            Tamatave
                        </li>
                        <li class="text">
                            Tananarive
                        </li>
                        <li class="text">
                            Morondava
                        </li>
                        <li class="text">
                            Tuléar
                        </li>
                        <li class="text">
                            Fort-Dauphin
                        </li>
                        <li class="text">
                            Sainte-Marie
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <img class="img-destination" src="../../assets/photo agences/destination.jpg" alt=""/>
                </div>
            </div>
            <hr/>
            <div class="type-item">
                <div class="content">
                    <h2 class="text" id="type">LES TYPES DE CIRCUITS</h2>
                    <span class="text">Voici les différents types de circuits que vous pouvez faire</span>
                    <ul>
                        <li class="text">
                            Circuit classique
                        </li>
                        <li class="text">
                            Circuit piste (grand tour)
                        </li>
                        <li class="text">
                            Randonnée
                        </li>
                    </ul>
                </div>
                <div class="content" id="transport">
                    <h2 class="text" id="type">LES TRANSPORTS</h2>
                    <span class="text">On peut vous proposer des transports selon vos choix, que ce soit en voiture ou en avion.</span>
                </div>
            </div>
        </div>
    
        <div class="sidebar">
            <div class="sidefixed">
                <div class="sidebarItem">
                    <span class="sidebarTitle text">activités</span>
                    <p class="text">Les activités que nous vous proposons sont : </p>
                        <ul>
                            <li class="text">Visite du parc</li>
                            <li class="text">Immersion avec les villageois</li>
                            <li class="text">Balade</li>
                            <li class="text">Point historique</li>
                        </ul>
                </div>
                <div class="sidebarItem">
                    <span class="sidebarTitle text">contact</span>
                    <p class="text">Vous pouvez nous contacter si nos services vous intéresses</p>
                    <div class="container-sm">
                        <div id="coordonnee">
                            <div class="telephone" id="contact_label">
                                    <img class="telephone" src="../../assets/photo agences/telephone.png" id="icon1" alt=""/>
                                    <label class="text">+261 34 20 112 50</label>
                            </div>
    
                            <div class="facebook" id="contact_label">
                                    <img class="facebook" src="../../assets/photo agences/facebook.png" id="icon1" alt=""/>
                                    <label class="text">Gasikara Tourisma</label>
                            </div>
    
                            <div class="facebook" id="contact_label">
                                <img class="mail" src="../../assets/photo agences/mail.png" id="icon2" alt=""/>
                                <label class="text"id="mail-label">gasikaratourisma@gmail.com</label>
                            </div>
    
                            <div class="adresse" id="contact_label">
                                    <img class="adresse" src="../../assets/photo agences/localisation.png" id="icon2" alt=""/>
                                    <label class="text">Lot 30 bis Tsiadana Tanà</label>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
            
</div>    
